<!doctype html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-20887636-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-20887636-2');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <link href="https://fonts.googleapis.com/css2?family=B612+Mono&family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
<!--    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" rel="stylesheet"> -->


    {{ $styles := resources.Get "style.scss" | toCSS  }}
    <link rel="stylesheet" href="{{ $styles.Permalink }}" type="text/css" />
    <title>{{ .Title }}</title>
  </head>
  <body>
    <header class='header'>
      <a class="logo" href="/">Home</a>
      <nav>
        <a href="/schedule/">Archive</a>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSedW32BdhzPAVR0SopWXmyPMnatwYtq_xRGf1n8YyBuWuqU_Q/viewform?usp=sf_link">Suggestions</a>
        <a href="https://tinyletter.com/friday-podcast-club">Signup</a>
      </nav>
    </header>
    {{ block "main" . }}{{ end }}
    <footer>
      Copyright &#169; {{ dateFormat "2006" now }}, Joseph Liu
    </footer>
  </body>
</html>
