{{ define "main" }}
<h1 class="title">{{ .Title }}</h1>
<h2 class="subtitle">{{ .Params.Subtitle}}</h2>
<h2> Next Meeting </h2>
<ul class="posts">
  {{ range where (where .Site.RegularPages "Section" "schedule") ".File.Ext" "md" | first 1  }}
  <li class="post">
    <a href="{{ .Permalink }}">
      <date>{{ .Date.Format "Monday, January 2, 2006" }}</date>
      <span {{ if .Draft }}style="background-color: yellowc:w
        ;"{{ end }}>{{ .Title }}</span>
    </a>
  </li>
  {{ end }}
</ul>
{{ .Content }}
{{ end }}
